/* -----------COMMON----------- */
body {
  font-family: 'Montserrat';
  font-size: 18px;
  line-height: 167%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  /*скрываем все, что не влезло*/
  display: flex;
  flex-direction: column;
  /*отрываем подвал от шапки*/
}

h1 {
  display: none;
}

h2 {
  color: #533738;
  font-size: 40px;
  line-height: calc((50 / 40) * 100%);
}

.center__title {
  text-transform: uppercase;
  text-align: center;
}

._ibg {
  position: relative;
}

/* -----------PAGE----------- */
._container {
  margin: 0 auto;
  /* выровнять по центру */
  max-width: 1230px;
  /* определить размер ограничения */
  box-sizing: content-box;
  padding: 0 15px;
  /* отступы безопасности */
}

.page__intro {}

.page__about {}

.page__metrics {}

.page__portfolio {}

.page__team {}

.page__worksteps {}

.page__feedbacks {}

.page__request {}

/* -----------HEADER----------- */
header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__container {}

.header__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  margin: 38px 0 -60px;
}

@media (max-width: 1230px) {
  .header__menu {
    margin: 38px 30px -60px;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: calc((20 / 16) * 100%);
  color: rgba(83, 55, 56, 1);
  font-style: inherit;
}

@media (max-width: 1100px) {
  .header__logo {
    margin-right: 30px;
    margin-bottom: 10px;
  }
}

.header__nav ul {
  display: flex;
  flex-wrap: wrap;
}

.header__nav li a {
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 16px;
  line-height: calc((20 / 16) * 100%);
  color: rgba(83, 55, 56, 1);
  margin-right: 27px;
  margin-top: 20px;
}

@media (max-width: 1100px) {
  .header__nav li a {
    margin-top: 20px;
  }
}

.header__nav li:not(:last-child) {}

.header__nav li:hover {
  text-decoration: underline;
  font-weight: 500;
}

@media (max-width: 1194px) {
  .header__phone {
    margin-top: 20px;
  }
}

.header__tel {
  color: rgba(83, 55, 56, 1);
  font-style: inherit;
  margin-left: 5px;
}

.header__tel:hover {
  text-decoration: underline;
  font-weight: 500;
}

/* -----------INTRO----------- */
.intro {
  min-height: 100%;
  width: 100%;
  background-image: url(/img/intro/1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1px 0;
}

.intro__container {}

.intro__help {
  margin: 152px 0 191px 82px;
}

@media (max-width: 1100px) {
  .intro__help {
    margin: 180px 0 191px 82px;
  }
}

@media (max-width: 900px) {
  .intro__help {
    margin: 210px 0 191px 41px;
  }
}

@media (max-width: 580px) {
  .intro__help {
    margin: 210px 0 191px 20px;
  }
}

.intro__title {
  font-size: 50px;
  line-height: calc((62 / 50) * 100%);
  max-width: 534px;
}

.intro__subtitle {
  max-width: 430px;
  margin: 24px 0 21px;
}

.intro__request {
  margin: 46px 0px 0;
}

.intro__request a {
  font-size: 20px;
  font-weight: 500;
  line-height: calc((24 / 20) * 100%);
  padding: 25px 66px;
  color: rgba(83, 55, 56, 1);
  background-color: #cc8b86;
  box-sizing: border-box;
}

.intro__request a:hover {
  background-color: rgba(83, 55, 56, 1);
  color: #fff;
}

/* -----------ABOUT----------- */
.about {
  background: #efe6e4;
  margin: -70px 0 0 0;
}

.about__container {}

.about__title {
  padding: 65px 0 40px;
}

.about__content {
  display: flex;
  padding: 0 0px 21px 82px;
}

.about__picture {
  margin-right: 64px;
}

.about__picture img {}

.about__text p:not(:last-child) {
  padding-bottom: 40px;
}

/* -----------METRICS----------- */
.metrics {
  background: #8d7370;
}

.metrics__container {}

.metrics__items {
  display: flex;
  justify-content: space-around;
}

.item {
  text-align: center;
}

.item__number {
  font-size: 50px;
  line-height: calc((62 / 50) * 100%);
  color: #fff;
  margin: 85px 0 8px;
}

.item__subtitle {
  font-size: 30px;
  line-height: calc((37 / 30) * 100%);
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 81px;
}

/* -----------portfolio----------- */
.portfolio {}

.portfolio__container {}

.portfolio__title {
  text-transform: uppercase;
  margin: 65px 0 40px;
}

.portfolio__slides {}

.portfolio__gallery {
  display: flex;
  flex-wrap: wrap;
}

.portfolio__img {
  margin: 0 10px 20px 0px;
}

/* как поменять цвет при наведении???
.portfolio__img:hover {
  filter: sepia(1) hue-rotate(350deg) saturate(5);
} */

.portfolio__more {
  justify-content: center;
  display: flex;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #533738;
  background-color: #efe6e4;
  margin: 40px auto 65px;
  align-items: center;
}

.portfolio__more img {
  margin-left: 10px;
}

.portfolio__more:hover {
  transform: scale(1.1);
}

/* --------------TEAM ---------------- */
.team {
  background: #e2c4ba;
}

.team__container {}

.team__title {
  padding: 50px 0 40px;
}

.team__items {
  display: flex;
  padding: 0 82px 35px;
}

.team__item {
  max-width: 320px;
  line-height: 167%;
}

.team__item img {
  margin-bottom: 10px;
}

.team__item:not(:last-child) {
  margin-right: 38px;
}

/* ----------worksteps ------------- */

.worksteps {
  background: #e2c4ba;
}

.worksteps__container {}

.worksteps__title {
  padding: 0px 0 40px;
}

.worksteps__items {
  display: flex;
  padding: 0 0 80px;
}

.worksteps__item {
  text-align: center;
  justify-content: space-around;
}

.worksteps__item:not(:last-child) {
  margin-right: 20px;
}

.worksteps__number {
  background-color: #8d7370;
  color: #fff;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  padding: 20px 26px;
  display: inline-block;
  margin: 0 0 40px;
  border-radius: 50px/50px;
  width: 70px;
}

.worksteps__text {
  max-width: 285px;
}

/* ----------feedbacks -----------------------*/

.feedbacks {}

.feedbacks__container {}

.feedbacks__title {
  padding: 65px 0 40px;
}

.slides {
  display: flex;
  margin: 0 82px;
  padding-bottom: 65px;
}

.slides__left {
  width: 72px;
  background-color: rgba(28, 28, 28, 0);
}

.slides__feedback {
  display: flex;
  margin: 0 29px;
  align-items: center;
}

.slides__text {
  margin-right: 20px;
  max-width: 407px;
}

.slides__text blockquote {
  margin-bottom: 19px;
}

.slides__img img:not(:last-child) {
  margin-bottom: 24px;
}

.slides__right {
  width: 72px;
  background-color: rgba(28, 28, 28, 0);
}

/* ------------request --------------------------------- */

.request {
  background: #8d7370;
}

.request__container {}

.request__form {
  display: flex;
  margin-left: 81px;
}

.request__text {
  max-width: 508px;
  padding: 50px 0 0 0;
  margin-right: 20px;
}

.request__title {
  font-size: 40px;
  line-height: 125%;
  text-transform: uppercase;
  color: #ffffff;
}

.request__subtitle {
  color: #fff;
  opacity: 0.6;
  font-weight: 400;
  font-size: 18px;
  margin: 24px 0 44px;
  line-height: 167%;
}

.request__input {
  line-height: 35px;
  font-size: 18px;
  margin-bottom: 31px;
  background-color: rgba(28, 28, 28, 0);
  color: #f6ede9;
  border-bottom: #f6ede9 solid 1px;
  width: 509px;
}

.request__btn {
  font-size: 20px;
  font-weight: 500;
  line-height: calc((24 / 20) * 100%);
  padding: 25px 66px;
  color: rgba(83, 55, 56, 1);
  background-color: #cc8b86;
  box-sizing: border-box;
}

.request__map {
  border: 0;
}

/* ---------------- footer -------------- */

.footer__container {}

.footer__text {
  display: flex;
  justify-content: space-between;
  margin: 37px 0;
}

.footer__contacts {}

.footer__contacts a {
  display: inline-block;
  color: rgba(83, 55, 56, 1);
  margin-right: 42px;
}

.footer__contacts {}

.footer__tel {}

.footer__employer {}